name: MLflow CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * 0'  # Run setiap Minggu jam 00:00
  workflow_dispatch:  # Manual trigger

jobs:
  build-and-train:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        python-version: 3.12.7
        activate-environment: water_potability_env
        environment-file: MLProject/conda.yaml
        auto-activate-base: false

    - name: Check Environment
      shell: bash -l {0}
      run: |
        conda info
        conda list
        python --version

    - name: Run MLflow Project
      shell: bash -l {0}
      run: |
        cd MLProject
        mlflow run . --env-manager=conda

    - name: Get latest MLflow run_id
      shell: bash -l {0}
      run: |
        if [ -d "MLProject/mlruns" ]; then
          RUN_ID=$(ls -t MLProject/mlruns/*/*/meta.yaml | head -1 | xargs dirname | xargs basename)
          echo "Latest run_id: $RUN_ID"
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
        fi

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: mlflow-artifacts
        path: MLProject/mlruns/
        retention-days: 7
