name: MLflow CI/CD Training

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.8

    - name: Create Conda environment
      run: |
        conda env create -f conda.yaml

    - name: Run MLflow Project
      run: |
        conda activate water-potability
        mlflow run . --env-manager=conda

    # Optional: Upload mlruns as artifact
    - name: Upload mlruns artifact
      uses: actions/upload-artifact@v3
      with:
        name: mlruns
        path: mlruns/
