name: MLflow CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-train:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.12.7
        miniconda-version: "latest"
    
    - name: Create and activate conda environment
      shell: bash -l {0}
      run: |
        conda env create -f MLProject/conda.yaml -n ml-project-env
        conda activate ml-project-env
    
    - name: Run MLflow Project
      shell: bash -l {0}
      run: |
        conda activate ml-project-env
        mlflow run MLProject --experiment-name water_potability_ci
    
    - name: Get latest MLflow run_id
      run: |
        if [ -d "mlruns" ]; then
          RUN_ID=$(ls -t mlruns/*/*/meta.yaml | head -1 | xargs dirname | xargs basename)
          echo "Latest run_id: $RUN_ID"
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
        fi
    
    - name: Upload MLflow artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: mlruns/
