name: MLflow CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  train-model:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow scikit-learn pandas matplotlib seaborn
    
    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run . --no-conda
    
    - name: Get latest MLflow run id
      run: |
        if [ -d "MLProject/mlruns" ]; then
          RUN_ID=$(ls -t MLProject/mlruns/*/* | head -1 | xargs dirname)
          echo "Latest run_id: $RUN_ID"
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
        fi
    
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: MLProject/mlruns/
